/* ==UserStyle==
@name         Hacker News Dark
@namespace    https://github.com/taylus/hackernews-dark
@homepageURL  https://github.com/taylus/hackernews-dark
@version      1.0.0
==/UserStyle== */
@-moz-document domain("news.ycombinator.com") {
	@media (prefers-color-scheme: dark) {
		body {
			background-color: #161921;
		}

		#hnmain {
			background-color: #191c26;
		}

		a:link.storylink,
		#hnmain > tbody > tr:first-child > td a,
		.commtext,
		.commtext a:link,
		td {
			color: #eee;
		}

		#hnmain > tbody > tr:first-child > td {
			background-color: #4a3226;
		}

		a:link,
		.sitebit,
		.subtext,
		.sitestr,
		.subtext a:link,
		.rank,
		a.morelink,
		.yclinks a,
		.comhead a:link,
		.comhead,
		.hnmore a:link,
		.reply a:link {
			color: #8c96ac;
		}

		.pagetop {
			color: #795848;
		}

		a:visited {
			color: #979cf4;
		}

		.votearrow {
			overflow: visible;
			position: relative;
		}

		.votearrow::before {
			content: "";
			width: 0;
			height: 0;
			left: 1px;
			top: 3px;
			display: block;
			position: absolute;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-bottom: 7px solid #bebfd1;
		}
	}
}